<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
			></script>
		<link rel="stylesheet" href="static/styles.css" />
		<title>Ohjauspaneeli</title>
	</head>
	<body x-data="">
		<main>
			<div class="container">
                <!-- Navbar -->
                <section>
                    <nav class="navbar"> 
                        <div>
                            <a href="/" class="btn-link">Etusivu</a>
                            <a href="/profile" class="btn-link">Profiili</a>
                            <a href="/challenges" class="btn-link">Haasteet</a>
                            <a href="/admin" x-show="$store.session.admin" class="btn-link active-nav-item">
                                Ylläpitäjälle
                            </a>
                        </div>
                        <div>
                            <a href="/logout" class="btn-link">Kirjaudu ulos</a>
                        </div>
                    </nav>
                </section>
                <h2>Käyttäjät</h2>
                <!-- Add new user section -->
				<section x-data="{ adding: false }">
					<div x-show="adding">
						<div style="padding: 15px">
							<label for="name">Käyttäjän nimi:</label><br />
							<input type="text" name="name"
								   x-model="$store.add.user.name" />
							<br/>
							<label for="email">Sähköposti:</label><br />
							<input type="email" name="email"
								   x-model="$store.add.user.email" />
						</div>
						<div style="padding: 15px; border-top: 1px solid var(--border)">
							<button
								type="submit"
								:disabled="$store.add.user.name.length == 0 ||
										   $store.add.user.email.length == 0"
								x-on:click="addUser($event);
											adding = false">
								Lisää käyttäjä
							</button>
							<button
								type="submit"
                                class="secondary-btn"
								x-on:click="adding = false;
											clearAdd($event);">
								Peruuta
							</button>
						</div>
					</div>
					<div style="padding: 15px" x-show="!adding">
						<button type="submit" x-on:click="adding = true">
							Lisää käyttäjä
						</button>
					</div>
				</section>
            <!-- List of all users -->
			<div x-show="$store.state.users.length > 0" class="list">
				<template x-for="user in $store.state.users">
					<div>
						<!-- NOT EDITING -->
						<div x-show="$store.state.editing_user_id != user.id">
							<div class="item">
								<div class="item-info">
									<strong x-text="user.name"></strong>
									<span class="badge" x-show="user.is_admin">Ylläpitäjä</span>
								</div>
                                <div class="item-actions">
                                    <button x-on:click="$store.state.editing_user_id = user.id">
                                        Muokkaa
                                    </button>
                                </div>
							</div>
						</div>
						<!-- EDITING -->
						<template x-if="$store.state.editing_user_id == user.id">
							<section>
								<div style="padding: 15px">
									<label for="name">Nimi:</label><br />
									<input type="text" x-model="user.name" type="text" /><br />
									<label for="email">Sähköposti</label><br />
									<input type="email" x-model="user.email" /><br />
									<label>Onko ylläpitäjä:</label>
									<input
										x-model="user.is_admin"
										type="checkbox"
										:disabled="$store.session.id == user.id"
										/>
								</div>
								<div style="padding: 15px; border-top: 1px solid
											var(--border)"
									 x-data="{ confirm: false }">
									<button 
										x-show="!confirm"
										:disabled="user.name.length == 0 ||
												   user.email.length == 0"
										x-on:click="$store.state.editing_user_id = null;
													updateUser($event, user.id)">
										Tallenna
									</button>
									<button
										x-show="!confirm"
										x-on:click="confirm = true"
										:disabled="$store.session.id == user.id"
										:title="($store.session.id == user.id) ?
												'Et voi poistaa itseäsi' : ''">
										Poista
									</button>
									<button
										x-show="confirm"
										x-on:click="deleteUser($event,
													user.id);
													confirm = false">
										Varmista
									</button>
									<button
										x-show="confirm"
										x-on:click="confirm = false"
										class="secondary-btn"
										>
										Peruuta
									</button>
								</div>
							</section>
						</template>
					</div>
				</template>
			</div>
		</main>
	</body>
	<script>		
		document.addEventListener("alpine:init", async () => {
			Alpine.store("add", {
				user: {
					name: "",
					email: ""
				}
			});
			Alpine.store("state", {
				users: [],
				editing_user_id: null,
			});
			Alpine.store("session", {
				loggedIn: false,
				admin: false,
				id: 0,
			});

			window.suomiDate = (date) => (
				date.split("-").reduce((s, t) => (t = `${t}.${s}`))
			);
			window.isActive = (start, end) => (
				Date.now() > Date.parse(start) && Date.now() < Date.parse(end)
			);

			async function getUsers() {
				try {
					const response = await fetch("/api/users");
					if (!response.ok) {
						throw new Error("Jotain meni pieleen: " + response.status);
					}
					return await response.json();
				} catch (e) {
					console.error(e.message);
				}
			}

			Alpine.store("state", {
				users: await getUsers(),
				editing_user_id: null,
				active: 0,
			});
			// Add
			window.clearAdd = (event) => {
				Alpine.store("add", {
					user: {
						name: "",
						email: ""
					}
				});
			};
			window.addUser = async (event) => {
				const response = await fetch("/api/users", {
					method: "POST",
					body: JSON.stringify({
						name: Alpine.store("add").user.name,
						password_plain: Alpine.store("add").user.email,
					}),
				});
				clearAdd();
				Alpine.store("state").users = await getUsers();
			};
			// Users
			window.deleteUser = async (event, id) => {
				const response = await fetch(`/api/users/${id}`, {
					method: "DELETE",
				});
				Alpine.store("state").users = await getUsers();
			};
			window.updateUser = async (event, id) => {
				const user = Alpine.store("state").users.filter(
					(user) => user.id == id,
				)[0];
				const response = await fetch(`/api/users/`, {
					method: "PATCH",
					body: JSON.stringify(user),
				});
			};

			// Session
			const loggedIn = async (event) => {
				const res = await fetch("/api/session");
				const json = await res.json();
				Alpine.store("session", {
					loggedIn: await json.ok,
					admin: await json.admin,
					id: await json.id,
				});
			};
			await loggedIn();
		});
	</script>
</html>
