<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js">
		</script>
		<script src="/static/utils.js"></script>
		<link rel="stylesheet" href="static/styles.css" />
		<title>Muokkaa haasteita</title>
	</head>
	<body x-data="{ showNav: false }">
		<main>
            <nav class="navbar"> 
                <div class="navbar-row">
                    <div class="desktop">
                        <a href="/" class="btn-link">Etusivu</a>
                        <a href="/profile" class="btn-link">Profiili</a>
                        <a href="/challenges"
						   class="btn-link active-nav-item">Haasteet</a>
                        <a href="/admin" x-show="$store.session.admin"
						   class="btn-link" x-cloak>
                            Ylläpitäjälle
                        </a>
                    </div>
                    <div class="desktop">
                        <a href="/logout" class="btn-link">Kirjaudu ulos</a>
                    </div>
                    <div class="mobile"></div>
                    <div class="mobile">
                        <button class="secondary-btn icon-btn"
                                x-on:click="showNav = !showNav">
                            <img src="/static/menu.svg" alt="Avaa navigaatio" />
                        </button>
                    </div>
                </div>
                <!-- MOBILE NAV -->
                <div x-show="showNav" class="navbar-col" x-transition>
                    <a href="/" class="btn-link">Etusivu</a>
                    <a href="/profile" class="btn-link">Profiili</a>
                    <a href="/challenges"
					   class="btn-link active-nav-item">Haasteet</a>
                    <a href="/admin" x-show="$store.session.admin"
                       class="btn-link" x-cloak>
                        Ylläpitäjälle
                    </a>
					<a href="/logout" class="btn-link">Kirjaudu ulos</a>
                </div>
            </nav>
			<div class="container">
                <h2>Haasteet</h2>
				<section x-data="{ adding: false }">
					<div x-show="adding">
						<div style="padding: 15px">
							<label for="title">Haasteen nimi:</label><br />
							<input
								type="text"
								name="title"
								x-model="$store.add.challenge.title"/>
							<br/>
							<label for="description">Kuvaus:</label><br />
							<input
								type="text"
								name="description"
								x-model="$store.add.challenge.description"/>
							<br/>
							<label for="points">Tavoite pisteet:</label><br />
							<input
								type="number"
								name="points"
                                min="1"
								x-model.number="$store.add.challenge.goal_points"/>
							<br/>
							<label for="unit">Yksikkö:</label><br />
							<input
								type="text"
								name="unit"
								placeholder="Esim. kilometrejä, tunteja"
								x-model="$store.add.challenge.unit"/>
							<br/>
                            <label for="start_date">Aloitus</label><br />
							<input
								type="date"
								name="start_date"
								x-model="$store.add.challenge.start_date"/>
							<br/>
							<label for="end_date">Lopetus</label>
							<br/>
							<input
								type="date"
								name="end_date"
								x-model="$store.add.challenge.end_date"/>
						</div>
						<div style="padding: 15px; border-top: 1px solid var(--border)">
							<button
								type="submit"
								:disabled=
								"$store.add.challenge.title.length == 0 ||
								 $store.add.challenge.description == null ||
								 $store.add.challenge.description.length == 0 ||
								 parseInt($store.add.challenge.goal_points) ==
								 NaN ||
								 parseInt($store.add.challenge.goal_points) < 1 ||
								 badInt($store.add.challenge.goal_points) ||
								 $store.add.challenge.goal_points == null ||
								 $store.add.challenge.goal_points.length == 0 ||
								 $store.add.challenge.unit == null ||
								 $store.add.challenge.unit.length == 0 ||
								 $store.add.challenge.start_date == null ||
								 $store.add.challenge.end_date == null ||
								 Date.parse($store.add.challenge.start_date) >
								 Date.parse($store.add.challenge.end_date)"
								x-on:click="addChallenge($event);
											adding = false">
								Lisää haaste
							</button>
							<button
								type="submit"
                                class="secondary-btn"
								x-on:click="adding = false;
											clearAdd($event);">
								Peruuta
							</button>
						</div>
					</div>
					<div style="padding: 15px" x-show="!adding">
						<button type="submit" x-on:click="adding = true">
							Lisää haaste
						</button>
					</div>
				</section>
				<div x-show="$store.state.challenges.length > 0" class="list">
					<template x-for="challenge in $store.state.challenges">
						<div x-data="{ showPerformances : false }">
							<!-- NOT EDITING -->
							<div
								x-show="$store.state.editing_id !=
										challenge.id"
								:class="isActive(challenge.start_date,
										challenge.end_date)
										? 'item active' :
										'item'"
								>
								<div class="item-info">
									<div :style="`height: 40px;
												 width: 10px;
												 background-color:${challenge.user.color};
												 display:inline-block;
												 margin-right: 10px;
												 margin-top: auto;
												 margin-bottom: auto;
												 border-radius: 3.5px`">
									</div>
                                    <div>
                                        <strong x-text="challenge.title"></strong>
                                        <span x-text="`- Tavoite: ${challenge.pot} /`"></span>
                                        <span x-text="challenge.goal_points"></span>
                                        -
                                        <strong>Tila: </strong>
                                        <span
                                            x-show="isActive(challenge.start_date,
                                                    challenge.end_date)">
                                            Aktiivinen
                                        </span>
                                        <span
                                            x-show="!isActive(challenge.start_date,
                                                    challenge.end_date)">
                                            Ei aktiivinen
                                        </span>
                                        <br />
                                        <strong>Ajanjakso: </strong>
                                        <span
                                            x-text="` ${suomiDate(challenge.start_date)}
                                                    - ${suomiDate(challenge.end_date)}`">
                                        </span>
                                    </div>
								</div>
								<div class="item-actions">
									<button x-on:click="showPerformances = !showPerformances">
										Suoritukset
									</button>
									<button x-on:click="$store.state.editing_id =
														challenge.id;
														showPerformances = false"
											class="secondary-btn icon-btn"
                                            :disabled="!($store.session.admin ||
													$store.session.id == challenge.user_id)">
										<img src="/static/pen.svg" alt="Muokkaa" />
									</button>
								</div>
							</div>
							<!-- PERFORMANCES -->
							<template x-if="showPerformances">
								<section
									style="margin-top: 6px;"
									x-data="{
											map:
											performanceTree(challenge.performances),
											reload() {
											this.map = performanceTree(challenge.performances)
											}
											}">
									<template x-for="value in map">
										<!-- alpine boilerplate -->
										<div>
											<div style="padding: 15px; border-bottom: 1px solid var(--border)">
												<strong x-text="`${value[1][0].user.name}`"></strong>
											</div>
											<div>
												<template x-for="performance in value[1]">
													<div style="padding: 10px 15px;
																border-bottom: 1px
																solid var(--border);
																display: flex; justify-content: space-between; align-items: center;">
														<div>
															<span x-text="`${performance.created_at}`">
															</span>
															<span x-text="`Pisteitä:
																		  ${performance.points}`">
															</span>
														</div>
														<button class="secondary-btn
																	   icon-btn"
																x-show="$store.session.admin
																		||
																		performance.user_id
																		==
																		$store.session.id
																		"
																x-on:click="await deletePerformance(
																			$event,
																			performance.id);
																			reload()">
															<img src="/static/can.svg" alt="Poista" />
														</button>
													</div>
												</template>
											</div>
										</div>
									</template>
									<div style="padding: 10px 15px;" x-show="challenge.performances == null ||
																			 challenge.performances.length ==
																			 0">
										<span>
											Ei suorituksia
										</span>
									</div>
								</section>
							</template>
							<!-- EDITING -->
							<template x-if="$store.state.editing_id == challenge.id">
								<section>
									<div style="padding: 15px">
										<label for="title">Haasteen nimi:</label><br/>
										<input
											type="text"
											name="title"
											x-model="challenge.title"/>
										<br/>
										<label for="description">Kuvaus:</label><br/>
										<input
											type="text"
											name="description"
											x-model="challenge.description"/>
										<br/>
										<label for="goal">Tavoite pisteet:</label><br/>
										<input
											type="number"
											name="goal"
											x-model.number="challenge.goal_points"/>
										<br/>
										<label for="unit">Yksikkö:</label><br />
										<input
											type="text"
											name="unit"
											x-model.number="challenge.unit"/>
										<br/>
										<span>Ajanjakso:</span><br />
										<input x-model="challenge.start_date" type="date" />
										-
										<input x-model="challenge.end_date" type="date" />
									</div>
									<div style="padding: 15px; border-top: 1px solid
												var(--border)"
										 x-data="{ confirm: false }">
										<button 
											:disabled=
											"challenge.title.length == 0 ||
											 challenge.title.length > 254 ||
											 challenge.description == null ||
											 challenge.description > 2000 ||
											 challenge.description.length == 0 ||
											 parseInt(challenge.goal_points) == NaN ||
											 parseInt(challenge.goal_points) < 1 ||
											 badInt(challenge.goal_points) ||
											 challenge.goal_points == null ||
											 challenge.goal_points.length == 0 ||
											 challenge.unit == null ||
											 challenge.unit.length == 0 ||
											 challenge.start_date == null ||
											 challenge.end_date == null ||
											 Date.parse(challenge.start_date) >
											 Date.parse(challenge.end_date)"
											x-show="!confirm"
											x-on:click="$store.state.editing_id = null;
														updateChallenge($event, challenge.id)">
											Tallenna
										</button>
										<button
											x-show="!confirm"
											x-on:click="confirm = true">
											Poista
										</button>
										<button
											x-show="confirm"
											x-on:click="deleteChallenge($event, challenge.id);
														confirm = false">
											Varmista
										</button>
										<button
											x-show="confirm"
											x-on:click="confirm = false"
											class="secondary-btn">
											Peruuta
										</button>
                                        <small x-show="confirm">Tämä poistaa kaikki tämän haasteen suoritukset!</small>
									</div>
								</section>
							</template>
						</div>
					</template>
				</div>
                <section style="padding: 15px;" x-show="$store.state.challenges.length == 0">
                    <span>Ei haasteita</span>
                </section>
            </div>
		</main>
		<img src="/static/ok-kamu.png"
			 alt="Tyytyväinen kamu istahtaa"
			 class="kamu"/>
	</body>
	<script>
		document.addEventListener("alpine:init", async () => {
			Alpine.store('session', {
				loggedIn: false,
				admin: false,
				id: null
			});
			
			Alpine.store("add", {
				challenge: {
					title: "",
					description: "",
					goal_points: 1,
					unit: "",
					start_date: null,
					end_date: null,
				}
			});

			Alpine.store("state", {
				challenges: [],
				editing_id: null,
			});

			window.suomiDate = (date) => (
				date.split("-").reduce((s, t) => (t = `${t}.${s}`))
			);
			window.isActive = (start, end) => (
				Date.now() > Date.parse(start) && Date.now() < Date.parse(end)
			);
			// Herkullista
			window.performanceTree = (performances) => (
				performances ?
					performances.reduce(
						((map, x) => (map.get(x.user_id))
						 ? (map.get(x.user_id).push(x), map )
						 : (map.set(x.user_id, [x]), map))
						, new Map())
					: new Map()
			);

			async function getChallenges() {
				try {
					const response = await fetch("/api/challenges");
					if (!response.ok) {
						throw new Error("Jotain meni pieleen: " + response.status);
					}
					return await response.json();
				} catch (e) {
					console.error(e.message);
				}
			}

			Alpine.store("state", {
				challenges: await getChallenges(),
				editing_id: null,
				active: 0,
			});

			// Add
			window.clearAdd = (event) => {
				Alpine.store('add', {
					challenge: {
						title: "",
						description: "",
						goal_points: 1,
						unit: "",
						start_date: null,
						end_date: null
					}
				});
			};

			window.badInt = (str) => !Number.isInteger(parseFloat(str));
			
			window.addChallenge = async (event) => {
                const addingChallenge = Alpine.store("add").challenge
                try {
                    const response = await fetch("/api/challenges", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(addingChallenge)
                    });
                    const result = await response.json()
                    if (!response.ok) {
                        throw new Error(result.error)
                    }
                    toast(`Lisättiin haaste ${result.title}`);
                } catch (error) {
                    toast(error.message)
                    console.log(error.message)
                } finally {
                    Alpine.store("state").challenges = await getChallenges();
                    clearAdd();
                }
			};
			// Challenges
			window.deleteChallenge = async (event, id) => {
                try {
                    const response = await fetch(`/api/challenges/${id}`, {
                        method: "DELETE",
                    });

                    const result = await response.json()
                    if (!response.ok) {
                        throw new Error(result.error)
                    }
                    toast(`Poistettiin haaste ${result.title}`);
                } catch (error) {
                    toast(error.message)
                    console.log(error.message)
                } finally {
                    Alpine.store("state").challenges = await getChallenges();
                }
			};
			window.updateChallenge = async (event, id) => {
				const challenge = Alpine.store("state").challenges.filter(
					(challenge) => challenge.id == id,
				)[0];
                try {
                    const response = await fetch(`/api/challenges/${id}`, {
                        method: "PATCH",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(challenge),
                    });
                    if (!response.ok) {
                        const result = await response.json()
                        throw new Error(result.error)
                    }
                    toast(`Päivitettiin haaste ${challenge.title}`)
                } catch (error) {
                    toast(error.message)
                    console.log(error.message)
                }
			};
			// Performances
			window.deletePerformance = async (e, performance_id) => {
				try {
					const response = await fetch(`/api/performances/${performance_id}`, {
						method: "DELETE",
					});
					if (!response.ok) {
						throw new Error("Jotain meni pieleen: " + response.status);
					}
				} catch (e) {
					console.error(e.message);
				}
				Alpine.store("state", {
					challenges: await getChallenges()
				});
				toast("Poistettiin suoritus");
			}
			// Session
			const loggedIn = async (event) => {
				const res = await fetch("/api/session/valid");
				const json = await res.json();
				Alpine.store('session', {
					loggedIn: await json.ok,
					admin: await json.admin,
					id: await json.id,
				});
			};
			await loggedIn();
		});
	</script>
</html>

