<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nollaa salasana</title>
		<link rel="stylesheet" href="static/styles.css" />
	</head>
	<body>
        <main>
            <h2>Unohditko salasanasi?</h2>
            <section>
                <form method="POST" action="/forgot-password">
                    <div style="padding: 15px;">
                        <label>Sähköposti:</label><br>
                        <input type="email" name="email" value="" required/><br>
                    </div>
					<div style="padding: 15px; border-top: 1px solid var(--border)">
                        <button type="submit">Jatka</button>
                    </div>
                </form>
            </section>
        </main>
	</body>
	<script type="text/javascript">
		const errors = new Map([
			["invalid", "Sähköposti ei ole oikeassa formaatissa"],
			["failed", "Sähköpostin lähettäminen ei onnistunut"],
		]);
		const params = new URLSearchParams(document.location.search);
		const errorCode = params.get("err");
		if (errorCode) {
			alert(errors.get(errorCode));
		}
	</script>
</html>

