<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script defer
				src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js">
		</script>
        <link rel="stylesheet" href="static/styles.css" />
	<body x-data="">
        <main>
			<h2 x-show="$store.session.loggedIn">Aktiiviset haasteet</h2>
			<section x-show="!$store.session.loggedIn" style="padding: 15px;">
				<p style="margin: 0;">
					Jos haluat nähdä tai lisätä suorituksia sinun täytyy
					<a href="/login">kirjautua</a>.
					Jos sinulla ei ole käyttäjää pyydä ylläpitäjää luomaan se.
				</p>
			</section>
            <section x-show="$store.session.loggedIn" style="padding: 15px;">
				<p style="margin: 0;">
					Katso aiemmat suorituksesi ja tilastosi
					<a href="/profile">profiilistasi</a>.
                </p>
			</section>
            <div x-show="$store.state.challenges.length > 0" class="list">
                <template x-for="challenge in $store.state.challenges" >
                    <div class="item">
                        <div class="item-info">
                            <strong x-text="challenge.title"></strong>
                            <span x-text="`- Tavoite: ${challenge.pot}`"></span>
                            /
                            <span x-text="challenge.goal_points"></span>
                            <progress x-bind:max="challenge.goal_points"
                                      x-bind:value="`${challenge.pot}`">
                                Edistys mittari
                            </progress>
                        </div>
                        <div x-show="$store.session.loggedIn"
							 x-data="{ confirm: false }" class="item-actions">
                            <button x-show="!confirm"
									x-on:click="confirm = !confirm">
								Lisää suoritus
							</button>
                            <button x-show="confirm"
									x-on:click="confirm = false"
									class="secondary-btn">
                                Peruuta
                            </button>
                            <button x-show="confirm"
                                    x-on:click="addPerformance($event,
                                                challenge.id); confirm =
                                                false">
                                Vahvista
                            </button>
                        </div>
                    </div>
                </template>
            </div>
            <template x-if="$store.state.challenges.length == 0">
                <div>
                    <h2>Ei ole aktiivisia haasteita</h2>
                </div>
            </template>
			<section>
				<template x-if="$store.state.lastActive != null">
					<div x-data="{ leaderboard :
								 leaderboard($store.state.lastActive.performances)
								 }">
						<p>
							Viime haasteen tilastot:
						</p>
						<p x-text="$store.state.lastActive.title"></p>
						<p x-text="$store.state.lastActive.goal_points"></p>
						<p>
							Listat
						</p>
						<ul>
							<template x-for="student in leaderboard">
								<li>
									<p>
										<span x-text="student[0]"></span>
										:
										
										<span x-text="student[1]"></span>
									</p>
								</li>
							</template>
						</ul>
					</div>
				</template>
				<p x-show="$store.state.lastActive == null">
					Historiassa ei haaste `SQL INSERT kikkeli`
				</p>
			</section>
        </main>
	</body>
	<script>
		document.addEventListener('alpine:init', async () => {
			Alpine.store('session', {
				loggedIn: false
			});
			
			Alpine.store('state', {
				challenges: [],
				lastActive: null
			});

			window.leaderboard = performances => {
				m = new Map();
				performances.map((x) => {
					v = m.get(x.user.name) || 0;
					m.set(x.user.name, v + x.points);
				});
				return m;
			}
			
			async function getChallenges() { 
				try {
					const response = await fetch("/api/challenges/active");
					if (!response.ok) {
						throw new Error("Jotain meni pieleen: " + response.status);
					}
					return await response.json()
				} catch (e) {
    				console.error(e.message);
                }
			}
			
			async function getLast() { 
				try {
					const response = await fetch("/api/challenges/latest");
					if (!response.ok) {
						throw new Error("Jotain meni pieleen: " + response.status);
					}
					return await response.json()
				} catch (e) {
    				console.error(e.message);
                }
			}

			Alpine.store('state', {
				challenges: await getChallenges(),
				lastActive: await getLast()
			});

			window.addPerformance = async (event, challenge_id) => {
				const response = await fetch(`/api/performances`, {
					method: "POST",
					body: JSON.stringify({
						points: 1,
						challenge_id: challenge_id
					}) 
				});
				Alpine.store('state').challenges = await getChallenges();
			};

			const loggedIn = async (event) => {
				const res = await fetch("/api/session");
				const json = await res.json();
				Alpine.store('session', {
					loggedIn: await json.ok,
					admin: await json.admin
				});
			};
			await loggedIn();
		});
	</script>
</html>