<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kirjaudu</title>
		<link rel="stylesheet" href="static/styles.css" />
	</head>
	<body>
        <main>
            <h2>Kirjaudu</h2>
            <section>
                <form method="POST" action="/login">
                    <div style="padding: 15px;">
                        <label>Nimi:</label><br>
                        <input type="text" name="name" value="" required/><br>
                        <label>Salasana:</label><br>
                        <input type="password" name="password" value="" required/><br>
                    </div>
					<div style="padding: 15px; border-top: 1px solid var(--border)">
                        <button type="submit">Kirjaudu</button>
                        <a href="/forgot-password">Unohditko salasanasi?</a>
                    </div>
                </form>
            </section>
        </main>
	</body>
	<script type="text/javascript">
		const errors = new Map([
			["missing", "Nimi tai salasana puuttuu"],
			["invalid", "Salasana tai nimi oli väärin"],
		]);
		const params = new URLSearchParams(document.location.search);
		const errorCode = params.get("err");
		if (errorCode) {
			alert(errors.get(errorCode));
		}
	</script>
</html>
