<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
			></script>
		<title>Profiili</title>
		<link rel="stylesheet" href="static/styles.css" />
	</head>
	<body>
		<main x-data="">
            <div>
                 <section>
                    <nav class="navbar"> 
                        <div>
                        <a href="/" class="btn-link">Etusivu</a>
                        <a href="/profile" class="btn-link">Profiili</a>
                        <a href="/challenges" class="btn-link">Haasteet</a>
                        <a href="/admin" x-show="$store.session.admin" class="btn-link">
                            Ylläpitäjälle
                        </a>
                        </div>
                        <div>
                        <a href="/logout" class="btn-link">Kirjaudu ulos</a>
                        </div>
                    </nav>
                </section>
                <h2>Profiili</h2>
                <section style="padding: 15px">
                    <span
                        x-text="`Keräämäsi pisteet:
                                ${sumPerformances($store.state.self.performances)}`"
                        >
                    </span>
                </section>
                <!-- LUUKAS ÄLÄ NÄYTÄ JOS EI HAASTEITA -->
                <h3>Suorituksesi</h3>
                <div class="list">
                    <template x-for="performance in $store.state.self.performances">
                        <div class="item">
                            <div class="item-info">
                                <span>
                                    Pisteet:
                                    <strong x-text="performance.points">
                                    </strong>
                                </span>
                                <span>
                                    - Suoritettu
                                    <strong x-text="performance.created_at">
                                    </strong>
                                </span>
                            </div>
                            <div class="item-actions" x-data="{ challenge: null }">
                                <template x-if="challenge != null">
                                    <div>
                                        <p x-text="challenge.title"></p>
                                        <p x-text="`${challenge.pot}/
                                                   ${challenge.goal_points}`">
                                        </p>
                                    </div>
                                </template>
                                <button x-show="challenge == null"
                                        x-on:click="challenge = await getChallenge(
                                                    $event,
                                                    performance.challenge_id)">
                                    <!-- LUUKAS HAE HAASTE -->
                                    <!-- okei luukas hakee haasteen, rontti -->
                                    Näytä haaste
                                </button>
                                <button x-show="challenge != null"
                                        x-on:click="challenge = null">
                                    Näytä haaste
                                </button>
                            </div>
                        </div>
                    </template>
                </div>
                <section x-show="$store.state.self.performances == null ||
                                 $store.state.self.performances.length == 0">
                    <p>Ei haasteita.</p>
                </section>
            </div>
		</main>
	</body>
	<script type="text/javascript">
		document.addEventListener("alpine:init", async () => {
			Alpine.store("state", {
				self: {
					performances: [],
				},
			});

			window.sumPerformances = (performances) => (
				(performances == null ) ?
					0
					: performances.reduce((sum, x) => sum + x.points, 0)
			);

			const getProfile = async (event) => {
				const res = await fetch("/api/self");
				Alpine.store("state", {
					self: await res.json(),
				});
			};
			await getProfile();

			async function getChallenge(e, challenge_id) {
				try {
					const response = await fetch(`/api/challenge/${challenge_id}`);
					if (!response.ok) {
						throw new Error("Jotain meni pieleen: " + response.status);
					}
					return await response.json();
				} catch (e) {
					console.error(e.message);
				}
			}
		});
	</script>
</html>
