<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nollaa salasana</title>
		<link rel="stylesheet" href="static/styles.css" />
	</head>
	<body>
        <main>
            <section>
                <form method="POST" action="/reset-password">
                    <div style="padding: 15px;">
                        <label>Uusi salasana:</label><br>
                        <input type="text" name="password" value="" required/><br>
                    </div>
                     <input type="hidden" name="token" value="" id="token">
					<div style="padding: 15px; border-top: 1px solid var(--border)">
                        <button type="submit">Jatka</button>
                    </div>
                </form>
            </section>
        </main>
	</body>
	<script type="text/javascript">
        const params = new URLSearchParams(window.location.search);
        const token = params.get('token');

        const tokenInput = document.getElementById("token")
        tokenInput.value = token

		const errors = new Map([
			["invalid", "rotta1"],
			["failed", "rotta2"],
		]);
		const errorCode = params.get("err");
		if (errorCode) {
			alert(errors.get(errorCode));
		}
	</script>
</html>
