<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nollaa salasana</title>
		<link rel="stylesheet" href="static/styles.css"/>
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js">
		</script>
	</head>
	<body>
        <main>
            <section x-data="">
                <div style="padding: 15px;">
                    <label>Uusi salasana:</label><br>
                    <input type="text" x-model="$store.state.password"/><br>
                </div>
				<div style="padding: 15px; border-top: 1px solid var(--border)">
                    <button x-on:click="reset">Jatka</button>
                </div>
            </section>
        </main>
	</body>
	<script type="text/javascript">
        const params = new URLSearchParams(window.location.search);
        const token = params.get('token');
		
		document.addEventListener("alpine:init", async () => {
			Alpine.store('state', {
				password: ""
			});

			window.reset = async (event) => {
				try {
					const response = await fetch("/reset-password", {
						method: "POST",
                        body: JSON.stringify({
							new_password: Alpine.store("state").password,
							token: token
						}),
					});
					if (!response.ok) {
						const json = await response.json();
						alert(json.message);
					} else {
						window.location.replace("/login");
					}
				} catch (e) {
					console.error(e.message);
				}
			};
		});
	</script>
</html>
